body {
    margin: 0;
    padding: 0;
}
video {
position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}
.container {
    position: relative;
    z-index: 1;
    
}
.hidden {
    display: none;
}
.card-img-top {
    text-align: center;
    width: 100%;
    height:400px; 
    object-fit: cover; 
}
.cnr-1{
    text-align: center;
    justify-content: center;
}
.btn-danger , .btn-success{
    border-color: white !important;
    background: rgb(12, 23, 69) !important;
}
#toggleButton{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.radio-container {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-top: 80px;
    margin-bottom: 70px;
}
.radio-container label{
    margin-right: 35px;
}

